{%extends 'base.html'%}
{%block title%}<h1>Add Workout</h1>{%endblock%}
{%block content%}
<div class="container col-md-4 col-md-offset-4">
<form method="post" action="/add_workout">
  <h2>Add New Workout</h2>
  <div class="mb-3">
    <label for="pushups">Pushups</label>
    <input type="number" class="form-control" id="pushups" name="pushups" placeholder="Enter no. of pushups done">
  </div>
  <div class="mb-3">
    <label for="comment">Comment</label>
    <input type="text" class="form-control" id="comment" name="comment" placeholder="Comment">
  </div>
  <button type="submit" class="btn btn-light btn-sm">Add</button>
</form>
</div>
{%endblock%}